
/* dashboard.css */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    position: relative;
    width: 100%;
    height: 944px;
    /* background-color: green; */
    font-family: "Inter", sans-serif;
}
.nav1 {
  position: relative;
    display: flex;
    width: 90%; 
    height: 80px;
    /* background-color: blue; */
    flex-direction: row;
    align-items: center;
    left:133px;
    background: var(--light-200, #FFF);
    box-shadow: 0px 2px 4px 0px rgba(94, 94, 94, 0.20);
   

}
.home {

  margin-right: 50px;
 
}
.aboutus {

  margin-right: 70px;
  bottom: 20px;
}
.service {

  margin-right: 50px;
  top: 20px;
}
.contact {

  margin-right: 50px;
  top: 20px;
}
.team {

  margin-right: 50px;
  top: 20px;
}
.bell-image {
  position: absolute;
  width: 20px;
  height: 24px;
  left: 990px;
  top: 30px;


}
.contact-image {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 1030px;
  top: 20px;
  color: var(--gray-800, #1D2939);
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}
.name {
  position: absolute;
  left: 1080px;
  width: 100px;
  top:18px;
}
.sidebar{
  position: absolute;
  width: 130px;
  height: 994px;
  background-color:white;
  border: solid 1px gray;
}
.survey-logo {
   position: absolute;
   width: 102px;
   height: 24px;
   top: 25px;
   left: 10px;
   color: #6776A9;
   font-size: 20.026px;
   font-family: Inter;
   font-style: normal;
   font-weight: 400;
   line-height: normal;

}
.icon1 {
  position: absolute;
  left: 300px;
  width: 24px;
  height: 24px;
}

.icon2 {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 1180px;
  top: 30px;
}
.middle-container {
  position: absolute;
  width: 90%; 
  height: 930px;
  background-color: white;
  left: 133px;
  border: solid 1px gray;

}
.survey-text {
  position: absolute;
  left: 10px;
}
.numbers-bar {
  position:absolute;
  width: 400px;
  height: 80px;
  background: white;
  border: solid 1px gray;
  left: 500px;
  top: 200px;
 

}
.circle1 {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid gray;
  top: 18px;
 
}
.circle2 {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid gray;
  top: 18px;
  left: 100px;
}

.circle3 {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid gray;
  top: 18px;
  left:230px 
}
.circle4 {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid gray;
  top: 18px;
  left: 348px;
}



 
  